{% extends "layout.html" %}

{% block content %}


<div class="row">
    <div class="col-md-12">
        <h3>Current Projects</h3>
    </div>

    <div class="col-md-12">
    <ul>
    {% for project in projects %}
        <li><a href="projects/{{ project.hash }}">{{ project.name }}</a></li>
    {% endfor %}
    </ul>

    <a href="/projects/new">Create New Project</a>

  </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p>Please refer to the following article for more information and/or cite when using the JAnaP for published works : Gray, K.M., Katz, D.B., Brown, E.G. et al. Ann Biomed Eng (2019). https://doi.org/10.1007/s10439-019-02266-5</p>
    </div>
</div>

{% endblock %}
